### Q11

In [5]:
year = [0,1,2,3,4,5,6]
stream = [-40,10,10,10,10,10,10]
s = [np.nan, 5.0, 5.3, 5.6, 5.8, 6.0, 6.1]
spot = [i/100 for i in s]

In [6]:
new_list = [year, stream, spot]

df = pd.DataFrame(new_list).transpose()
df.columns = ['year','stream', 'spot_r']

In [7]:
df["discount_r"] = 1 / (1 + df["spot_r"])**df["year"]

In [8]:
x0 = df["discount_r"][0]/df["discount_r"][1]
x1 = df["discount_r"][1]/df["discount_r"][2]
x2 = df["discount_r"][2]/df["discount_r"][3]
x3 = df["discount_r"][3]/df["discount_r"][4]
x4 = df["discount_r"][4]/df["discount_r"][5]
x5 = df["discount_r"][5]/df["discount_r"][6]

pv_method = df["discount_r"][0] + x0 * df["discount_r"][1]

In [9]:
df

   year  stream  spot_r  discount_r
0   0.0   -40.0     NaN    1.000000
1   1.0    10.0   0.050    0.952381
2   2.0    10.0   0.053    0.901869
3   3.0    10.0   0.056    0.849197
4   4.0    10.0   0.058    0.798100
5   5.0    10.0   0.060    0.747258
6   6.0    10.0   0.061    0.700983

In [10]:
#numpy.npv(rate, values)
npv = np.npv(df["spot_r"], df["stream"])
print("npv: ", npv)

npv:  9.497876784246987

present value in two ways

running present values

### Q15

In [18]:
year = [1,2,3,4,5,6,7,8,9,10,11,12]
s = [7.67, 8.27, 8.81, 9.31, 9.75,10.16 ,10.52 ,10.85 ,11.15 ,11.42, 11.67, 11.89]
spot_r = [i/100 for i in s]
obligations = [500,900,600,500,100,100,100,50]

#bond1
bond1 = [6,6,6,6,6,6,6,6,6,6,6,106]
bond2 = [10,10,10,10,110]

new_list = [year, spot_r, obligations, bond1, bond2]
df = pd.DataFrame(new_list).transpose()
df.columns = ['year','spot_r', 'obligations', 'bond1', 'bond2']
df["discount_r"] = 1 / (1 + df["spot_r"])**df["year"]

# bond1
df["PV1"] = df["bond1"] * df["discount_r"]
bond1_p = sum(df["PV1"])

df['pv_prime1'] = df["bond1"] * df["year"] * (1+df["spot_r"]) ** [(-1)*i for i in df["year"]+1]
quasiD = sum(df['pv_prime1']) / sum(df["PV1"])

# bond2

df["PV2"] = df["bond2"] * df["discount_r"]
df['pv_prime2'] = df["bond2"] * df["year"] * (1+df["spot_r"]) ** [(-1)*i for i in df["year"]+1]

quasiD2 = df['pv_prime2'].sum() / df["PV2"].sum()
bond2_p = df["PV2"].sum()


# obligation

df["PV_ob"] = df["obligations"] * df["discount_r"]
df['pv_prime_ob'] = df["obligations"] * df["year"] * (1+df["spot_r"]) ** [(-1)*i for i in df["year"]+1]

ob_pv = df["PV2"].sum()

quasiDob = df['pv_prime_ob'].sum() / df["PV_ob"].sum()



print("present value of bond 1 is : ", bond1_p)
print("present value of bond 2 is : ", bond2_p)
print("quasi duration of bond 1 is : ", quasiD)
print("quasi duration of bond 2 is : ", quasiD2)
print("quasi duration of the obligattion is : ", quasiDob)
print("present value of the obligation is : ",ob_pv)

present value of bond 1 is :  65.95141593517083
present value of bond 2 is :  101.66772356861858
quasi duration of bond 1 is :  7.065794607835234
quasi duration of bond 2 is :  3.7981038674959344
quasi duration of the obligattion is :  2.4476042424124693
present value of the obligation is :  101.66772356861858

In [19]:
df

,year,spot_r,obligations,bond1,bond2,discount_r,PV1,pv_prime1,PV2,pv_prime2,PV_ob,pv_prime_ob
0,1.0,0.0767,500.0,6.0,10.0,0.928764,5.572583,5.175613,9.287638,8.626022,464.381908,431.301112
1,2.0,0.0827,900.0,6.0,10.0,0.853068,5.118409,9.454898,8.530681,15.758163,767.761333,1418.234660
2,3.0,0.0881,600.0,6.0,10.0,0.776236,4.657414,12.840953,7.762356,21.401589,465.741373,1284.095322
3,4.0,0.0931,500.0,6.0,10.0,0.700423,4.202538,15.378422,7.004230,25.630703,350.211519,1281.535155
4,5.0,0.0975,100.0,6.0,110.0,0.628026,3.768154,17.166987,69.082817,314.728097,62.802561,286.116452
5,6.0,0.1016,100.0,6.0,NaN,0.559573,3.357436,18.286686,NaN,NaN,55.957259,304.778102
6,7.0,0.1052,100.0,6.0,NaN,0.496494,2.978963,18.867844,NaN,NaN,49.649384,314.464069
7,8.0,0.1085,50.0,6.0,NaN,0.438646,2.631877,18.994154,NaN,NaN,21.932312,158.284619
8,9.0,0.1115,NaN,6.0,NaN,0.386202,2.317213,18.762862,NaN,NaN,NaN,NaN
9,10.0,0.1142,NaN,6.0,NaN,0.339132,2.034791,18.262346,NaN,NaN,NaN,NaN
10,11.0,0.1167,NaN,6.0,NaN,0.296960,1.781762,17.551157,NaN,NaN,NaN,NaN
11,12.0,0.1189,NaN,106.0,NaN,0.259720,27.530277,295.257237,NaN,NaN,NaN,NaN

In [20]:
a = np.array([[bond1_p, bond2_p], [bond1_p*quasiD, bond2_p*quasiD2]])
b = np.array([df["PV_ob"].sum(), df["PV_ob"].sum()*quasiDob])
x = np.linalg.solve(a,b)
print("Linear combination of x1 and x2 after immulization is : ", x)

Linear combination of x1 and x2 after immulization is :  [-14.02731012  31.1166465 ]